@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}

body{
    font-family: Playfair Display, sans-serif;
    font-weight: 300;
    color: #2b302c;
}

/*headings and logo*/

h1, h2{
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #0f100f;
}

#logo{
    float: left;
    font-size: 300%;
    border-bottom: #0f100f;
}

/* nav menu styling*/

#menu{
    font-size: 100%;
    letter-spacing: 2px;
}

#menu li{
    display: inline-block;
    margin-right: 40px;
    list-style-type: none;
}

#menu ul{
    text-align: right;
}

#menu, #logo{
    line-height: 55px;
}

#menu a{
   text-decoration: none;
   color: #0f100f;
   font-family: Montserrat, sans-serif;
}

#menu a:hover{
    border-bottom: 1px solid #0f100f;
}

.active{
    border-bottom: 1px solid #0f100f;
}

#hero-outer{
   
    height: 500px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image{
  
    height: 500px;
    width: auto;
    object-fit: cover;
    background: url(../css/images/stars-1845140_960_720.webp) no-repeat center center;
    background-size: cover;
    border: 2px solid white;
    padding: 20px 20px 20px 20px;
    /*animation-zoom*/
    animation-name: hero-zoom;
    animation-duration: 3s;
    animation-fill-mode: backwards;
}
#hero-image p{
    color: #fff;
    text-align: center;
    font-size: 200%;
    padding: 150px;
    font-family: Dancing Script, sans-serif;
}

#hero-image h1{
    color: #fff;
    text-align: center;
    font-size: 300%;
    font-family: Dancing Script, sans-serif;
    
    
}

@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.05);
    }
}

#about-club{
    text-align: center;
    height: 500px;
    padding-top: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #3a3a3a;
    color: #fff;
}

.why-join-left{
    padding-top: 30px;
    width: 33%;
    margin: 0 auto; 
}

.why-learn-right{
    padding-top: 30px;
    width: 33%;
    margin: 0 auto;
}

.why-stay-middle{
    padding-top: 30px;
    width: 33%;
    margin: 0 auto;
} 

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;
}

#times{
    background-image: url(../css/images/times.jpg);
    width: 100%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

#times div{
    color: #fff;
    background-color: rgba(0,0,0,.6);
    width: 25%;
    height: 200px;
    float: left;
    padding: 20px 20px 20px 10px;
    text-align: center;
    border: 2px solid white;
    box-sizing: border-box;
}

#times h2{
    color: #fff;
}

.social-net{
    text-align: center;
}

.social-net li{
    display: inline;
}

.social-net i{
    font-size: 120%;
    margin: 2%;
    padding: 2%;
    color: darkslategray;
}

/*UpComing Events styling*/

#meteor{
    background-image: url(../css/images/meteor-rain-night-sky-neon-space-illustration_33099-1866.jpg);
    height: 300px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 10px  10px  10px  10px;
    color: #fff;
}

#photo-comp{
    background-image: url(../css/images/orion-nebula-11107_960_720.webp);
    height: 300px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 10px  10px  10px  10px;
    color: #fff;
}

#meteor h1{
    color: #fff;
}

#photo-comp h1{
    color: #fff;
}