@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Playfair+Display&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}

body{
    font-family: Playfair Display, sans-serif;
    font-weight: 300;
    color: #2b302c;
}

/*headings and logo*/

h1, h2{
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #0f100f;
}

#logo{
    float: left;
    font-size: 300%;
}

/* nav menu styling*/

#menu{
    font-size: 100%;
    letter-spacing: 2px;
}

#menu li{
    display: inline-block;
    margin-right: 40px;
    list-style-type: none;
}

#menu ul{
    text-align: right;
}

#menu, #logo{
    line-height: 55px;
}

#menu a{
   text-decoration: none;
   color: #0f100f;
   font-family: Montserrat, sans-serif;
}

#menu a:hover{
    border-bottom: 1px solid #0f100f;
}

.active{
    border-bottom: 1px solid #0f100f;
}

#hero-outer{
   
    height: 500px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image{
  
    height: 500px;
    width: auto;
    object-fit: cover;
    padding-bottom: 60px;
    
    background: url(../css/images/nasa-8.jpg) no-repeat center center;
    /*animation zoom*/
    animation-name: hero-zoom;
    animation-duration: 3s;
    animation-fill-mode: backwards;
}

@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.05);
    }
}

#about-club{
    text-align: center;
    height: 500px;
    padding-top: 100px;
    background-color: #2a363b;
    
}

#why-join-left{
    padding-top: 30px;
    width: 33%;
    margin: 0 auto;
    color: #fff;
}

#why-learn-right{
    padding-top: 30px;
    width: 33%;
    margin: 0 auto;
    color: #fff;
  
}

#why-stay-middle{
    padding-top: 30px;
    width: 33%;
    margin: 0 auto;
    color: #fff;
  
}


